<p id="notice"><%= notice %></p>

<p>
  <strong>Match:</strong>
  <%= @credential.match %>
</p>

<p>
  <strong>Params:</strong>
  <%= @credential.params %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
