<!DOCTYPE html>
<html>
  <head>
    <title>网抓车辆信息</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_pack_tag 'carlist' %>
  </head>
  <body class='front'>
    <div id='app'>
      <router-view></router-view>
    </div>
    <%= yield %>
  </body>
</html>